$primary: hsla(187, 69, 46, 1);
$primary-hover: hsla(0, 0, 48, 1);

$gray-btn: hsla(42, 15, 35, 0.2);

$gray-text: hsla(0, 0, 0, 0.5);
$gray-bg: hsla(0, 0, 96, 1);

$gray-dark-border: hsla(0, 0, 70, 1);
$gray-border: hsla(0, 0, 90, 1);
$gray-light-border: hsla(48, 7, 87, 1);

//custom
$orbit-timer-color: hsla(0, 0, 0, 0.5);
