---
title: Welcome to Middleman
---

.ng-list
  .row
    .large-2.columns
      %label Search:
      %input{:'ng-model' => 'query', :type => 'text'}
    .large-2.columns
      %label Sort by:
      %select{:'ng-model' => 'orderProp'}
        %option{:'value' => 'name'} Alphabatical
        %option{:'value' => 'age'} Newest
    .large-7.columns.large-offset1
      %p#status Current filter: {{query}}
      %ul
        %li{:'ng-repeat' => "phone in phones | filter:query | orderBy:orderProp"}
          %p {{phone.name}}
          %p {{phone.snippet}}
